datapath: {{ land_background_path }}
filetype: fms restart
skip coupler file: true
datetime: '{{ land_background_time_iso }}'
state variables:
- totalSnowDepth
- vtype
- slmsk
- sheleg
- filtered_orography
field io names:
  totalSnowDepth: snodl
  filtered_orography: orog_filt
filename_sfcd: '{{ land_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ land_background_time_fv3 }}.coupler.res'
filename_orog: '{{ land_orog_prefix }}_oro_data.nc'
