members:
  - datetime: '{{ land_background_time_iso }}'
    filetype: fms restart
    state variables: [sheleg,stc,smc,vtype,slmsk]
    datapath: ./
    filename_sfcd: '{{ land_background_time_fv3 }}.sfc_data.nc'
    filename_cplr: '{{ land_background_time_fv3 }}.coupler.res'
